// @import url("https://fonts.googleapis.com/css?family=Andika%7cBangers%7cBevan%7cBitter%7cCutive%7cJudson%7cMarmelad%7cOswald%7cSatisfy%7cShadows%20Into%20Light%7cUbuntu%7cUnkempt%7cViga%7cOpen%20Sans&subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:300);
@import '~bootstrap/scss/bootstrap';
@import "apexLoggedIn";
// @import "jquery-ui.scss";
@import "tinyacc.scss";
@import "tinybox.scss";
@import "john";
@import "launchExamScreen";
@import "products";
@import "team";
@import "gFonts";
@import "apexFonts";
@import "fontSizes";
@import "reports"; 
@import "variables"; 
@import "jquery.dataTables.min";
$darkGrayBG :  rgba(0, 0, 0, 0.69);
 
body {
	background: white;
	font-size: 1rem;
	line-height: 170%; 
	color:#000;
    overflow-x: hidden;
}
.navbar-nav>li {
    width: 70px; 
}
.activeNav{
    background: #ECECEC;
	border-bottom: #C9252C 3px solid; 
}
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.container { 
    max-width: 350px !important;
    margin: 0 auto;
  }

}
.row{
	margin: 0 !important;
	}

.grey{
	background-color: #F9F9FA;
}

h1, h2, h3, h4, h5, h6 { 
	font-family:'Open Sans', sans-serif !important;
}
p, div {
    font-family:'Open Sans', sans-serif;
}
#{headings()} {
	font-family: $font-sans;
}
// .row
// {
// 	overflow-x:hidden;
// 	position:relative;
// }
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*=".svg"] {
    width: 100%;
  }
}
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
.remove-top{
	margin-top:0px;
	padding-top:0px;
}
.navbar-brand{
	@media screen and (max-width: 767px) {
		.brand-image{
			display:none;

		}
		.brand-icon{
			display:inline-block;
			height:50px;
			width:auto;
			margin-top:-15px;
		}
	}
	@media screen and (min-width: 767px) {
		.brand-image{
			display:inline-block;
			height:50px;
			width:auto;
		}
		.brand-icon{
			display:none;
		}
	}
}
.absolute{
	position:absolute;
}
@media screen and (min-width:1200px){
	.blueLine1{
	    left: -500px;
	    top: -840px;
	}
	.blueLine3{
	    right: -330px;
	    top: -500px;
	}
	.blueLine2{
	    left: 39px;
	    top: -300px;
	}
	.grayLine1{
		left: -477px;
		top: -777px;
		opacity: .6;
	}
}
@media screen and (max-width:700px){
	.blueLine1{
	    display:none;
	}
	.blueLine2{
	    left:-430px;
	     top: -300px;
	}
	.blueLine3{
	    right: -445px;
	    top: -500px;
	}
	.grayLine1{
		left:  -950px;
		top: -777px;
		opacity: .6;
	}

}
@media screen and (min-width:700px) and (max-width:1200px){
	.blueLine1{
	    display:none;
	}
	.blueLine2{
	    left:-200px;
	    top: -300px;
	}
	.grayLine1{
	    left:  -700px;
	    top: -777px;
	    opacity: .6;
	}
	.blueLine3{
	    right: -445px;
	    top: -500px;
	}
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
		overflow-y :auto !important;
		overflow-x: hidden !important;
    }
}
.navbar-brand{
	@media screen and (max-width: 1200px) {
		.brand-image{
			display:none;

		}
		.brand-icon{
			display:inline-block;
			height:50px;
			width:auto;
			margin-top:-15px;
		}
	}
	@media screen and (min-width: 1200px) {
		.brand-image{
			display:inline-block;
			height:50px;
			width:auto;
		}
		.brand-icon{
			display:none;
		}
	}
}

.text-color-white{
	color:white;
}
.text-color-gray{
	// color:#777;
	color:#000;
}
.text-color-black{
	color:#000;
}
.relative{
	position:relative;
}
.sliderContainer{
	    background-color: #e6e6e6;
	overflow-x:hidden;
	}
.sliderBG{
	min-height:450px;
	max-width:auto;
	display:block;
	margin:0 auto;
	// margin-left:-26%;
}
.centerTrick{
	display:block;
	margin:0 auto;
}
.loginButtonContainer{
	    margin: 50px auto 100px auto;
	}
.loginButton{
	&:hover{
		background-color:#777;
		color:white;
		font-weight:800;
		border-color:#e6e6e6;
		transform:scale(1.25);
	}
	cursor:pointer;
	transition: all .25s ease-in-out;
	font-size: 25px;
    border: 3px solid #777;
    display: inline-block;
    padding: 30px 60px;
	font-weight: bold;
}
.overflowXHidden{
	overflow-x:hidden;
}
.slider-bottom{
    font-family: Open Sans Condensed;
    color: #000;
    font-weight: 400;
}
.genericGraphic{
	height: 214px;
    width: 215px;
    margin: 10px auto;
    display: block;
}
.big-margin-top{
	margin-top:100px
}
.med-margin-top{
	margin-top:50px;
}
.sm-margin-top{
	margin-top:15px;
}
.big-margin-bot{
	margin-bottom:100px
}
.med-margin-bot{
	margin-bottom:50px;
}
.sm-margin-bot{
	margin-bottom:15px;
}
.sm-margin-right{
	margin-right:15px;
}
.sm-margin-left{
	margin-left:15px;
}
.navbar-nav>li {
    display: table;
    height: 70px;
    a{
    	display:table-cell;
    	vertical-align: top;
    	font-family: Open Sans;
    	font-weight:bold;
    }
}
.contactUs{
	background-color:$darkGrayBG;
}

.contactUs{
	h2{
	    margin-top: 60px;
	    margin-bottom: 30px;
	}
	button{
		padding: 20px 80px;
	}
	textarea{
		 min-height: 195px;
	}
}
.sliderSlogan{
    font-size: 55px;
    line-height: 1.5em;
    top: 30%;
    font-weight: 400;
    font-family: Open Sans Condensed;
}
.contactUs input, .contactUs textarea, .contactUs button{
	color:white;
	border:1px solid white;
	border-radius:0px;
	background:transparent;
    margin-bottom: 30px;
	@include placeholder {
	    color: white;
 	}
}
.monthlyNewsletter
{
	margin-bottom:-30px;
}
.white-background{
    background-color: #ffffff;
}
.black-background{
	background-color:#000;
}
.grayBackground{
	background-color:#e6e6e6;
}
.medGrayBackground{
	background-color:#595959
}
.lightishGrayBackground{
	background-color:rgb(196, 196, 196);
}
.lightGrayBackground{
	background-color: #f0f0f0;
}
.darkishGrayBackground{
	background-color:#B20000;
}
.darkGrayBackground{
	background-color:$darkGrayBG;
}
.skyBlueBackground{
	background-color:#D20000;
}
/* Link Styling */
a {
	&:link {
		text-decoration: none;
		color: #D20000;
	}
	&:hover, &:active {
		text-decoration:underline;
	}
	&:focus {
		outline: none;
	}
	&:visited {
		color: #B20000;
	}
}
.smPadTop
{
	padding-top:10px;
}
.smPadRight
{
	padding-right:10px;
}
.smPadBot
{
	padding-bottom:10px;
}
.smPadLeft
{
	padding-left:10px;
}
.medPadTop
{
	padding-top:25px;
}
.medPadRight
{
	padding-right:25px;
}
.medPadBot
{
	padding-bottom:25px;
}
.medPadLeft
{
	padding-left:25px;
}
.bigPadTop
{
	padding-top:50px;
}
.bigPadBot
{
	padding-bottom:50px;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.fullWidth{
	width:100%;
}
.fullHeight{
	height:100%;
}
.absoluteTop{
	top:0;
}
.absoluteLeft{
	left:0;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

 body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}

.apexStar li:before {
    content: url('/grfx/apex_bullet.gif');
    padding-right: 3px;
}

/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {

  margin: 1.5em 10px;
      border-left: 0px solid #eee;
  quotes: "\201C""\201D""\2018""\2019";
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
 color: #595959;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.item blockquote p:after {
    color: #595959;
    content: close-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: 0.25em;
    padding-left: 0.2em;
    vertical-align: -0.6em;
}


/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

.adminProfile {
	li {
		input {
			margin-left: .5em;
		}
		padding-bottom:.75em;
	}
}

.courseRow {
	.courseName {
		text-align: left;
	}
}

.testimonialPanel {
	.testimonialText {
		color:#000;
	}
}
.ui-datepicker-trigger{
	cursor:pointer;
}

.subNavContent{
	&.subNavReport{
		margin-left:-30px;
		padding-left:0px;
		fieldset{
			select{
				width:100%;
			}
		}
	}
}
#accreditation_logos_home {
	position: absolute;
	width: 100px;
	text-align: center;
	padding-top: 3em;
	z-index: 1000;
}

@media (max-width: 1200px) {
	#accreditation_logos_home {
		right: 4em;
		top: 2em;
		padding-top: 0;
	}
}
@media (max-width: 991px) {
	#accreditation_logos_home {
		width: 100%;
		position: relative;
		right: auto;
		margin-bottom: 2em;
	}
	#accreditation_logos_home > img {
		margin: 0 1em;
	}
}

#accreditation_logos_products {
	text-align: center;
	margin: 1em auto;
}  

   