.testimonPic {
	margin-bottom: 10px;
}

.nameAndTitle {
}

.customerQuote {
	display: inline-block;
}

.quoteDiv {
	width: 50%; 
	margin: 0 auto;
}

.tetDiv {
	
    transition: all 1s ease-in-out;
}

.transparent {
	opacity:0;
	
}

.testimonial {
	transition: all 1s ease-in-out;
	
}

.bold-font {
	font-weight: bold;
}

